main{
    padding-top: 15vh;
    min-height: 80vh;
}
p.para-text{
    font-family: playfair-display;
    font-size: 20px;
    color: #707070;
}
h1.head-text{
    font-family: playfair-display;
    font-size: 54px;
    color: rgb(124, 54, 3);
    font-weight: bold;
    padding-top: 2.5rem;
}
h1.subhead-text{
    font-family: playfair-display;
    font-size: 28px;
    color: rgb(124, 54, 3);
    font-weight: bold;
    padding-top: 2.5rem;
}
a.order:hover{
    color: white;
}
img.badges{
    width: 88px;
    height: 88px;
}
div.colored-badge{
    background-color: #fff9f1;
}
div.colored-badge:hover{
    background-color: #ffeed8;
}
div.bg-right{
    background-image: url("../images/bean_scene_coffee_landingpage\ -\ Copy\ \(2\).png");
    background-repeat: no-repeat;
    background-position: right top;
}
div.container-3{
    min-height: 80vh;
    background-image: url("../images/coffee_bean.png"),url("../images/Group\ 36.png");
    background-repeat: no-repeat;
    background-position: right bottom;
}
div.container-3 div.boxes{
    min-height: 80vh;
}
div.container-4{
    background-image: url("../images/bean_scene_coffee_landingpage\ -\ Copy.png");
    background-repeat: no-repeat;
    background-position: left 5vh;
    min-height: 70vh;
}
div.getbg{
    background-color: #fff9f1;
    min-height: 60vh;
    border: 2px solid #f9c06a;
}
p.inner-text{
    font-family: playfair-display;
    font-size: 18px;
    padding: 2rem 10rem 1rem 10rem;
    line-height: 40px;
}
p.big-text{
    color: rgb(124, 54, 3);
    font-weight: bold;
    font-size: 5rem;
    font-family: playfair-display;
    padding-left: 10rem;
}


@media screen and (max-width: 764px) {
    .para-text{
        padding: 0 1rem 0 1rem;
    }
    h1.head-text{
        padding: 0 1rem 0 1rem;
    }
    div.colored-badge{
        width: 80%;
        margin: 0 auto 5vh auto;
    }
    div.container-2{
        margin-top: 6vh;
    }
    div.bg-right{
        background: transparent;
    }
    div.container-4{
        background: transparent;
    }
    p.inner-text{
        padding: 2rem 2rem 1rem 2rem;
        line-height: 30px;
    }
    div.container-3{
        background-image: url("../images/Group\ 36.png");
    }
}


